@model IEnumerable<HomePad.Models.IncomeVM>
@{
    ViewData["Index"] = "Income";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Income" asp-action="Index" method="get">
</form>

<table class="table">
    <tr>
        <th style="visibility:hidden">Id</th>
        <th>Account Head</th>
        <th>Title</th>
        <th>Transaction Date</th>
        <th>Last Updated Date</th>
        @* <th>Last Updated By</th> *@
        <th>Amount</th>
        <th>Note</th>
        <th>Attachment</th>
    </tr>


    @foreach (var income in Model)
    {
        <tr>
            <td style="visibility:hidden">@income.Id</td>
            <td>@income.AccountHeadName</td>
            <td>@income.Title</td>
            <td>@income.TransactionDate</td>
            <td>@income.LastUpdatedDate</td>
            @* <td>@income.LastUpdatedBy</td> *@
            <td>@income.Amount</td>
            <td>@income.Note</td>
            <td>@income.Attachment</td>

            <td>
                <a asp-action="Edit" asp-route-id="@income.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@income.Id">Delete</a>
            </td>

        </tr>
    }


</table>